/** {
	margin: 0px;
	padding: 0px;
}
*/
body {
	background: #232323;
}

h1 {
	font-size: 2.5em;
	color: white;
}

h2 {
	font-size: 1.0em;
	color: white;
}

header {
	padding-top: 20px;
	padding-bottom: 20px;
	background: blue;
	background-color: blue;
	height: 150px;
	text-transform: uppercase;
	text-align: center;
}

.square {
	background-color: purple;
	width: 30%;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
}

@media (min-width: 0px) {
  .container {
    max-width: 600px;
  }
}